<!DOCTYPE html>
<html lang="en" ng-app="MoviecatApp">

<head>
  <meta charset="UTF-8">
  <title>Movie Cat</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Movie Cat</a>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">正在热映 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Export</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="MainController">
        <h1 class="page-header">正在热映</h1>
        <div class="list-group">
          <a class="list-group-item" href="#" ng-repeat="item in hotMovies">
            <span class="badge">{{item.rating.average}}</span>
            <div class="media">
              <div class="media-left">
                <img class="media-object" ng-src="{{item.images.small}}" alt="{{item.title}}">
              </div>
              <div class="media-body">
                <h3 class="media-heading">{{item.title}}</h3>
                <p>导演：<span ng-repeat="director in item.directors">{{director.name}}{{$last?'':'、'}}</span></p>
                <p>类型：<span>{{item.genres.join('、')}}</span></p>
              </div>
            </div>
          </a>
        </div>
        <div class="modal fade" ng-class="{in:loading}" ng-hide="!loading" style="display: block;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">数据加载中..</h4>
              </div>
              <div class="modal-body">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%;">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</body>

</html>
